@* <footer class="border-top footer bg-primary text-muted"> *@
@*     <div class="text-center"> *@
@*         &copy; 2025 - Created with <i class="bi bi-heart-fill"></i> by Anderson *@
@*     </div> *@
@* </footer> *@

<footer class="border-top footer bg-primary text-muted text-center py-3 mt-auto">
    &copy; 2025 - Created with <i class="bi bi-heart-fill"></i> by Anderson
</footer>
