<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_HeadPartial")

<body class="d-flex flex-column min-vh-100">

    @await Html.PartialAsync("_HeaderPartial")

    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            <partial name="_NotificationPartial" />
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_FooterPartial")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/4oez02yhgytnp15dw69cfx61z9bkw1o2xhg6awx36ap7pev6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
